* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1140px;
	margin: 80px auto 88px;
	display: grid;
	grid-template-columns: repeat(3, minmax(240px, 1fr));
	grid-template-rows: repeat(5, minmax(260px, auto));
	gap: 10px;
	grid-template-areas:
		"first first first"
		"second second ."
		"fourth third third"
		"fourth . ."
		"seventh seventh .";
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: repeat(2, minmax(240px, 1fr));
		grid-template-rows: repeat(5, minmax(240px, 1fr));
		grid-template-areas:
			"seventh seventh"
			"second second"
			"third third" 
			"fourth ."
			"first first";
	}
}

.grid {
	&__img {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__text {
		margin-top: 15px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		padding-right: 4px;
	}
}

#first {
	grid-area: first;
}

#second {
	grid-area: second;
}

#third {
	grid-area: third;
}

#fourth {
	grid-area: fourth;
}

// #fifth 
// #sixth 

#seventh {
	display: grid;
	grid-area: seventh;
}

.gold {
	background-color: gold;
}
